.example {/*親div*/
  position: relative;/*相対配置*/
  }

.example p {
  position: absolute;/*絶対配置*/
  background-color: blue;
  color: white;/*文字は白に*/
  top: 0px;
  left: 0px;
  font-size:100px;
  margin-top: 0%;
  }

.example img {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  }