.toppage-overall{
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toppage-title img{
  display: inline-block;
  width: 120px;
  text-align: left;
  padding-left :15px;
}
li{
  display: inline;
  color: gray;
  font-size: 14px;
  padding: 8px;
}
.toppage-contents-image{
position: relative;
z-index: 0;
margin-top: 150px;
}
.toppage-contents-image img{
  margin: 0 0 0 auto;
  display: block;
  width: 750px;
  height:  500px;
}
.toppage-contents-others{
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 30%;
  color: #64b4b4
}
.toppage-centence1{
  margin-bottom: 60px;
  font-size: 55px;
  font-family: 'Sarabun', sans-serif;
}
.toppage-centence1::before {
  content: "Commit to the";
  color: #b3316b
}
.toppage-centence1::after {
  content: "for everyone";
  color: #b3316b
}
.toppage-centence2{
  line-height: 0em;
  font-size: 20px;
}
.toppage-centence2::before {
  content: "全ての人の";
  color: #b3316b
}
.toppage-centence2::after {
  content: "にコミットする";
  color: #b3316b
}
.toppage-centence3{
  font-size: 14px;
  color:gray
}

/* ここからNEWS */
.news-overall{
  margin: 100px auto;
  width:800px;
}
.news-contentsall{
  margin-bottom: 30px;
  color: #b3316b;
  line-height: 0.5em
}
.news-title{
font-size: 8px;
font-family: 'Sarabun', sans-serif;
}
.news-contect1{
font-size: 16px;
color: gray;
}
dl{
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
  padding: 15px 0px 25px 0px;
}
dt{
  border-bottom:1px solid #ccc;
  float:left;
  padding:20px 5px;
}
dd{
  border-bottom:1px solid #ccc;
  margin-left:100px;
  padding:20px 5px;
}
a{
  background-color:#b3316b;
  border-radius:20px;
  color:#fff;
  margin:0 20px;
  padding:2px 15px;
  text-decoration:none;
}

/* ここからABOUT */
.about-overall{
  background-color: rgb(241, 241, 241,0.5)
}
.about-title{
  padding-top: 25px;
  text-align: center;
  line-height: 0.5em
}
.about-title1{
  font-size: 8px;
  font-family: 'Sarabun', sans-serif;
  color: #b3316b;
}
.about-title2{
  font-size: 16px;
  color: gray;
  font-weight: bold;
}
.about-main{
display: flex;
margin: 0 auto;
width: 800px;
height: 250px;
}
.about-centence{
display: inline-block;
width: 100%;
color: gray;
}
.about-image{
display: inline-block;
width: 500px;
height: 200px;
}
.about-image img{
width: 100%
}

/* ここからService */
.service-overall{
  max-width: 800px;
  margin: 50px auto;
}
.service-title1{
  color: #b3316b;
  font-size: 8px;
  font-family: 'Sarabun', sans-serif;
}
.service-title2{
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
.service-main{
display: grid;
max-width: 800px;
grid-template-rows: 150px 150px;
grid-template-columns: 1fr 1fr;
}
.service-main img{
  width: 110px;
  line-height: 0.5em
}
.service-box1{
  grid-column: 1/2;
  grid-row: 1/3;
  text-align: center;
  line-height: 0.5em;
  color: white;
  background-color: #b31667;
}
.service-box1 p{
  text-align: left;
  line-height: 1.5em;
  padding:0px 50px;
  font-size: 13px;
}
.service-box2{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  padding: 15px;
  color: white;
  background-color: #b35b8b;
}
.service-box2-image{
  display: inline-block;
  vertical-align: middle;
}
.service-box2-centence{
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  line-height: 0.5em;
}
.service-box2-centence p{
  font-size: 13px;
  line-height: 1.5em;
}
.service-box3{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  padding: 15px;
  color: white;
  background-color: #bd9cae;
}
.service-box3-image{
  display: inline-block;
  vertical-align: middle;
}
.service-box3-centence{
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  line-height: 0.5em;
}
.service-box3-centence p{
  font-size: 13px;
  line-height: 1.5em;
}

/* ここからblog */
.blog-all{
  background-color: rgb(241, 241, 241,0.5)
}
.blog-overall{
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
}
.blog-title1{
  color: #b3316b;
  font-size: 8px;
  font-family: 'Sarabun', sans-serif;
}
.blog-title2{
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
.blog-contencts-0verall{
  display: flex;
  justify-content: space-between;
}
.blog-contencts-all{
  width: 240px;
  height: 290px;
  border-radius: 10px;
  background-color:white;
}
.blog-contencts1{
position: relative;
}
.blog-contencts1 p{
position: absolute;
margin-top: 0%;
top: 0%;
left: 0%;
width: 60px;
height: 30px;
border-radius: 10px 0px  0px  0px ;
background-color: #b11364;
text-align: center;
line-height:30px;
color:#fff;
font-size: 14px;
}
.blog-contencts1 img{
  width:100%;
  border-radius: 10px 10px  0px  0px ;
}
.blog__content2{
  padding: 5px 20px;
}
.blog__content-ttl{
    font-size: 13px;
    color: gray;
}
.blog__content-tag{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.blog__content-tag1 {
  display: inline-block;
}
.blog__content-tag2 {
  display: inline-block;
}
.btn{
  width: 160px;
  padding: 15px 0px;
  background-color: #fff;
  border: solid 2px #b3316b;
  color: #b3316b;
  border-radius: 30px;
  text-align: center;
  margin:30px auto 0;
  display:block;
  font-size: 12px;
}

/* ここからcompany */
.company-all{
  max-width: 600px;
  margin: 0px auto;
}
.company-title1{
  color: #b3316b;
  font-size: 8px;
  font-family: 'Sarabun', sans-serif;
}
.company-title2{
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}
table td {
  border: 1px solid #ccc;
  padding: 15px;
}
table th {
  font-weight: bold;
  background-color: rgb(241, 241, 241,0.5);
  border: 1px solid #ccc;
  padding: 15px 5px 15px 15px;
  text-align: left;
}

/* ここからlast-page */
.last-page-overall{
  display: flex;
  height: 300px;
  margin-top: 100px;
}
.last-page-title1{
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.last-page-title1 img{
  width: 100%;
}
.last-page-title1 h2{
position: absolute;
margin-top: 0px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100px;
height: 30px;
text-align: center;
line-height:30px;
font-size: 25px;
color:white;
}
.last-page-title2{
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.last-page-title2 img{
  width: 100%;
}
.last-page-title2 h2{
  position: absolute;
  margin-top: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 30px;
  text-align: center;
  line-height:30px;
  font-size: 25px;
  color:white;
}
.last-page-contents h4{
  text-align: center;
  color: gray;
}
.line {
  margin: 0 auto;
  width: 2px;
  height: 30px;
  background-color: #b3316b;
}
.lastpage-btn::before {
  position: absolute;
  margin-top: 0px;
  top: 50%;
  left: 15px;
  content: "";
  background: url(../img/mailicon.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: translate(0, -50%);
}
.lastpage-btn{
  position: relative;
  width: 200px;
  padding: 15px 0px;
  background: linear-gradient(90deg,#f92a94, #bd317a);
  box-shadow: 0px 5px 0px #a10a61;
  color: white;
  border-radius: 30px;
  text-align: center;
  margin:30px auto 0;
  display:block;
  font-size: 14px;
}
.copy-right-overall{
  margin-top: 80px;
  height: 50px;
  text-align: center;
  background-color: rgb(241, 241, 241,0.5);
}
.copy-right{
  font-size: 10px;
  color: gray;
  line-height: 50px;
}